<h2>Edit Record for <%= @item.manufacturer%> <%=@item.part_number %></h2>

<form method="POST" action="/inventory/<%= @item.id %>">
  <div class="form-wrapper">

  <div class="form-el">
    <label for="part_number">Part Number:</label>
    <input type="text" name="part_number" id="part_number" value="<%= @item.part_number%>"/>
  </div>

  <div class="form-el">
    <label for="manufacturer"> Select Manufacturer:</label>
    <select name="manufacturer" id="manufacturer" value="<%= @item.manufacturer%>">
      <option value="<%@item.manufacturer%>">(<%= @item.manufacturer%>)</option>
      <option value="AMD">AMD</option>
      <option value="Cisco">Cisco</option>
      <option value="Dell">Dell</option>
      <option value="EMC">EMC</option>
      <option value="HP">HP</option>
      <option value="IBM">IBM</option>
      <option value="Intel">Intel</option>
      <option value="Seagate">Seagate</option>
      <option value="Western Digital">Western Digital</option>
    </select>
  </div>

  <div class="form-el">
    <label for="description"> Description:</label>
    <input type="text" name="description" id="description" value="<%= @item.description%>"/>
  </div>


  <div class="form-el">
    <label for="category"> Select Category:</label>
    <select name="category" id="category" value="<%= @item.category%>">
      <option value="<%@item.category%>">(<%=@item.category%>)</option>
      <option value="CPU">CPU</option>
      <option value="HDD">HDD</option>
      <option value="RAM">RAM</option>
      <option value="SSD">SSD</option>
    </select>
  </div>

  <div class="form-el">
    <label for="condition"> Select Condition:</label>
    <select name="category" id="category">
      <option value="<%@item.condition%>">(<%= @item.condition%>)</option>
      <option value="New">New</option>
      <option value="Refurb">Refurb</option>
      <option value="Used">Used</option>
    </select>
  </div>

  <div class="form-el">
    <label for="status">Status:</label>
    <input type="text" name="status" id="status" value="<%= @item.status%>"/>
  </div>

  <div class="form-el">
    <label for="quantity">Quantity:</label>
    <input type="number" name="quantity" id="quantity" value="<%= @item.quantity%>"/>
  </div>


  <div class="form-el">
    <label for="supplier_id">Select Supplier:</label>
      <select name="supplier_id" id="supplier_id">
        <option value="<%=@item.supplier_id%>">(<%= @item.get_supplier.company_name%>)</option>
        <% @suppliers.each do |supplier| %>
          <option value=<%= supplier.id %>><%= supplier.company_name %></option>
        <% end %>
      </select>
  </div>

  <div class="form-el">
    <label for="unit_buy_price">Unit Buy Price:</label>
    <input type="text" name="unit_buy_price" id="unit_buy_price" value="<%= @item.unit_buy_price%>"/>
  </div>

  <div class="form-el">
    <label for="target_sell_price">Target Sell Price:</label>
    <input type="text" name="target_sell_price" id="target_sell_price" value="<%= @item.target_sell_price%>"/>
  </div>

  <div class="form-el">
    <label for="min_sell_price">Minimum Sell Price:</label>
    <input type="text" name="min_sell_price" id="min_sell_price" value="<%= @item.min_sell_price%>"/>
  </div>




  <div class="form-el">
    <input type="submit" value="Update Item Record"/>
  </div>


  </div>
</form>
