<h1>Inventory</h1>

<p class="">
  <a class="" href="/inventory/new">New item</a>
</p>

<table class="sortable">
  <thead>
  <tr>
    <th>Manufacturer</th>
    <th>Part Number</th>
    <th>Description</th>
    <th>Category</th>
    <th>Quantity</th>
    <th>Condition</th>
    <th>Supplier</th>
    <th>Buy Price</th>
    <th>Sell Price</th>
    <th>Status</th>
  </tr>
  </thead>
  <tbody>
  <% for item in @items %>
    <% if item.quantity == 0 %>
      <tr bgcolor="darksalmon">
        <td><%= item.manufacturer %></td>
        <td><a href="inventory/<%= item.id %>"><%= item.part_number %></a></td>
        <td><%= item.description %></td>
        <td><%= item.category %></td>
        <td><%= item.quantity %></td>
        <td><%= item.condition %></td>
        <td><%= item.get_supplier.company_name %></td>
        <td><%= item.unit_buy_price %></td>
        <td><%= item.target_sell_price %></td>
        <td>Out of Stock!</td>
      </tr>
    <% elsif item.quantity > 0 && item.quantity <=5 %>
    <tr bgcolor="gold">
      <td><%= item.manufacturer %></td>
      <td><a href="inventory/<%= item.id %>"><%= item.part_number %></a></td>
      <td><%= item.description %></td>
      <td><%= item.category %></td>
      <td><%= item.quantity %></td>
      <td><%= item.condition %></td>
      <td><%= item.get_supplier.company_name %></td>
      <td><%= item.unit_buy_price %></td>
      <td><%= item.target_sell_price %></td>
      <td>Low Stock!</td>
    </tr>
    <% else %>
    <tr>
      <td><%= item.manufacturer %></td>
      <td><a href="inventory/<%= item.id %>"><%= item.part_number %></a></td>
      <td><%= item.description %></td>
      <td><%= item.category %></td>
      <td><%= item.quantity %></td>
      <td><%= item.condition %></td>
      <td><%= item.get_supplier.company_name %></td>
      <td><%= item.unit_buy_price %></td>
      <td><%= item.target_sell_price %></td>
      <td><%= item.status %></td>
    </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
