<h1><%= @item.part_number %></h1>

<h3>Manufacturer: <%= @item.manufacturer()%> </h3>
<h3>Description: <%= @item.description()%> </h3>
<h3>Category: <%= @item.category()%> </h3>
<h3>Condition: <%= @item.condition()%> </h3>
<h3>Quantity in Stock: <%= @item.quantity()%> </h3>
<h3>Status: <%= @item.status()%> </h3>
<h3>Supplier: <%= @item.supplier_id()%> </h3>
<h3>Unit Buy Price: <%= @item.unit_buy_price()%> </h3>
<h3>Target Sell Price: <%= @item.target_sell_price()%> </h3>
<h3>Minimum Sell Price: <%= @item.min_sell_price()%> </h3>

<p class="">
  <a class=""href="/inventory/edit/<%=@item.id%>">Edit Item</a>
</p>
