<h2>Edit <%= @supplier.company_name %></h2>

<form method="POST" action="/suppliers/<%= @supplier.id %>">

  <label for="company_name">First Name:</label>
  <input type="text" name="company_name" id="company_name" value="<%= @supplier.company_name%>"/>

  <label for="contact_name">Last Name:</label>
  <input type="text" name="contact_name" id="contact_name" value="<%= @supplier.contact_name%>"/>


      <input type="submit" value="Update Supplier Record"/>


</form>



      <label for="house_select">Select House:</label>
      <select name="house_id" id="house_select" selected="<%= @student.house_id  %>">
        <% @houses.each do |house| %>
          <% if house.id == @student.house_id %>
            <option value=<%= house.id %> selected><%= house.name.capitalize %></option>
          <% else %>
            <option value=<%= house.id %>><%= house.name.capitalize %></option>
          <% end %>
        <% end %>
      </select>



      <label for="age">Age:</label>
      <input type="number" name="age" id="age" value="<%= @student.age %>"/>
