<h1><%= @supplier.company_name %></h1>

<h3>Address: <%= @supplier.address()%> </h3>
<h3>Contact: <%= @supplier.contact_name()%> </h3>
<h3>Contact Job Title: <%= @supplier.contact_job_title()%> </h3>
<h3>Contact Phone Number: <%= @supplier.contact_phone_number()%> </h3>

<p class="">
  <a class=""href="/suppliers/edit/<%=@supplier.id%>">Edit supplier</a>
</p>
