<h1><%= @supplier.company_name %></h1>
<% if @supplier.id >1 %>
<h3>Address: <%= @supplier.address()%> </h3>
<h3>Contact: <%= @supplier.contact_name()%> </h3>
<h3>Contact Job Title: <%= @supplier.contact_job_title()%> </h3>
<h3>Contact Phone Number: <%= @supplier.contact_phone_number()%> </h3>
<h3>Items bought from <%= @supplier.company_name %>:</h3>
<hr>
<% end %>

<table style="width:100%">
  <tr>
    <th>Manufacturer</th>
    <th>Part Number</th>
    <th>Description</th>
    <th>Category</th>
    <th>Condition</th>
    <th>Status</th>
    <th>Quantity</th>
    <th>Buy Price</th>
    <th>Sell Price</th>
    <th>Min Price</th>
  </tr>
  <% for item in @supplier.get_items %>
  <tr>
    <td><%= item.manufacturer %></td>
    <td><a href="/inventory/<%= item.id %>"><%= item.part_number %></a></td>
    <td><%= item.description %></td>
    <td><%= item.category %></td>
    <td><%= item.condition %></td>
    <td><%= item.status %></td>
    <td><%= item.quantity %></td>
    <td><%= item.unit_buy_price %></td>
    <td><%= item.target_sell_price %></td>
    <td><%= item.min_sell_price %></td>
  </tr>
  <% end %>
</table>




<% if @supplier.id >1 %>
<p>
<a class=""href="/suppliers/<%=@supplier.id%>/edit">Edit supplier</a
</p>
<form action="/suppliers/<%=@supplier.id%>/delete" method="POST"><input type="submit" value="Delete"></form>
<% end %>
